{% extends "base.html" %}

{% block content %}

<h1>Cadastrar aluno</h1>

<p>Preencha as informações do estudante</p>

<form method="POST">

    <label>Matrícula</label>
    <input type="text" name="matricula" required>

    <label>Nome completo</label>
    <input type="text" name="nome">

    <label>Turma</label>
    <input type="text" name="turma">

    <br><br>

    <a href="{{ url_for('alunos') }}">Cancelar</a>

    <button type="submit">
        Salvar aluno
    </button>

</form>

{% endblock %}
